# This file is to configure NPM package registry and other settings during package install.

# Azure DevOps build process uses this file to authenticate registry before installing packages.

# Scopes are a way of grouping related packages together. Scopes can be associated with a separate registry.
# This allows you to seamlessly use a mix of packages from the primary npm registry and one or more private registries.
# Once a scope is associated with a registry, any npm install for a package with that scope will request packages from that registry instead. 
#
# @mycompany:registry=https://mycompany.registry.url/
#

# User auth details can be passed to registry as follows:
#
# //registry.npmjs.org/:username=USER_NAME
# //registry.npmjs.org/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
# //registry.npmjs.org/:email=for auth true npm requires email to be set but doesn't use the value
# //registry.npmjs.org/:_auth="this is my real auth secret="

# It is NOT recommended to store authentication tokens in a text file on a lab machine, because
# other unrelated processes may be able to read the file.  Also, the file may persist indefinitely,
# for example if the machine loses power.  A safer practice is to pass the token via an
# environment variable, which can be referenced from .npmrc using ${} expansion.  For example:
#
#   //registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}

@dataweavers:registry=https://pkgs.dev.azure.com/dataweavers/Public/_packaging/DataweaversPublic/npm/registry/ 
always-auth=true
registry=https://registry.npmjs.org